@import url('https://fonts.googleapis.com/css2?family=Karantina:wght@300;400;700&display=swap');

:root {
    --primary-color: #EE4E4E;
    --secondary-color: #FFC700;
    --tercer-color: #219C90;
    --cuarto-color: #FFFFFF;
    --quinto-color:#9B9797;
    --font-size:1.37rem;
    --font-famili: Karantina;
}


.home{
    background: var(--cuarto-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Asegura que el contenedor ocupe toda la altura de la ventana */
    width: 100vw; /* Opcional, si quieres que ocupe todo el ancho también */
}
.boton{
    background: var(--primary-color) ;
    width: 7.5rem;
    height: 2.5rem;
    border-radius: 0.93rem;
    border: var(--primary-color);
    color: var(--cuarto-color);
    font-family: var(--font-famili);
    font-size: var(--font-size);
}
.boton:hover {
    background: var(--cuarto-color);
    width: 7.5rem;
    height: 2.5rem;
    border: 2px solid var(--primary-color); /* Definir el ancho, estilo y color del borde */
    color: var(--primary-color);
    border-radius: 0.9375rem; /* 15px convertido a rem */
}
.boton_encrytar:hover,
.boton_desencriptar:hover{
    background: var(--secondary-color);
    width: 16.25rem ;
    height: 2.5rem;
    border: 2px solid var(--secondary-color); /* Definir el ancho, estilo y color del borde */
    color: var(--cuarto-color);
    border-radius: 0.9375rem; /* 15px convertido a rem */
}


.boton_encrytar{
    background: var(--primary-color) ;
    width: 16.25rem ;
    height: 2.5rem;
    border-radius: 0.93rem;
    border: var(--primary-color);
    color: var(--cuarto-color);
    font-family: var(--font-famili);
    font-size: var(--font-size);
    
    margin-top: 1.2rem;
}
.boton_desencriptar{
    background: var(--cuarto-color) ;
    width: 16.25rem ;
    height: 2.5rem;
    border-radius: 0.93rem;
    border: solid ;
    color: var(--primary-color);
    font-family: var(--font-famili);
    font-size: var(--font-size);
    
    margin-top: 1.2rem;
}

/* Home */
.box_madre{
    width: 100%;
    display: flex;

}



.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background: var(--cuarto-color);
    padding-left: 10rem;
}

.img_nav{
    width: 15rem;
    height: 2.5rem;
}

.home_label{
    font-family: var(--font-famili);
    font-size:2rem ;
    color: var(--quinto-color);

}
.home_botones{
    display: flex;
    justify-content: space-around;
    margin-bottom: 5rem;
}
.home_formulario{
    display: flex;
    width: 50%;
    flex-direction: column;
    padding-left: 11rem;
    padding-top: 1.5rem;
}
.home_pegar_texto{
    display: flex;
    flex-direction: column;
}
.home_input{
    border: .1rem solid var(--quinto-color);
    width: 90%;
    height: 65vh;
}
.home_alert{
    display: flex;
    align-items: center;
    margin-top: 1rem;
}
.home_error{
    display: flex;
    align-items: center;
    background: var(--secondary-color);
    width: 3px;
    height: 3px;
    border-radius: 50%;
    padding: 1rem;
    color: var(--cuarto-color);
    margin-right: 1rem;
    
}
.home_texto_encriptado{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--font-famili);
    color: var(--cuarto-color);
    
}
.home_texto_encriptado p{
    font-size: 2rem;
    display: flex;
    justify-content: center;
    
}

.home_img{
    width: 100%;
}
.home_label_encryptado{
    text-align: justify;
    font-size:1rem;
    color: var(--primary-color);
}
#back{
    justify-content: center;
}
#copiar{
display: flex;
justify-content: center;
background: red;
width: 50%;
}

.home_aside{
    background: var(--secondary-color);
    height: 90vh;
    width: 30%;
    border-radius: 3rem;
}
.home_texto_alert{
    font-family: var(--font-famili);
    font-size: var(--font-size);
    color: var(--quinto-color);
}
#outputText{
    width: 80%;
    height: 80%;
    background: var(--tercer-color);
    border: none;
    font-family: var(--font-famili);
    color: var(--cuarto-color);
    font-size: 1.6rem;
}


@media (max-width: 1000px) {
    .box_madre{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .nav{
    display: flex;
    justify-content: center;
     padding-left: 0;
    }
    .home_aside{
        width: 80%;
        justify-content: center;
    }
    .home_formulario{
        display: flex;
        justify-content: center;
        padding: 0;
        width: 80%;
    }
    .home_input{width: 100%;}

    .home_img{
        display: none;
    }
    .home_aside{
        height: 350px;

    }
    .home_texto_encriptado{
        height: 350px;
        justify-content: center; 
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .boton{
        width: 10rem;
    }
  }

  